.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 400px;
  height: 400px;
  border-radius: 16px;
  text-align: center;
}

.modal h4{
  font-size: 24px;
  padding: 30px 0;
}

.modal h5 {
  font-size: 22px;
  padding: 20px;
  color: var(--edit);
}


.modal i{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  color: var(--edit);
  font-size: 120px;
}

.modal .buttons{
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: space-between;
  width: 90%;
}

.modal .buttons a {
  width: 45%;
}
.modal button{
  width: 100%;
  margin: 40px auto;
  padding: 20px;
  border-radius: 16px;
  font-weight: 600;
  color: #fff;
  background-color: var(--primary-color);
}

.modal .link {
  background-color: #f5f5f5;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
