.admin-Teachers.waiting-list .two-lists {
    display: flex;
}

.admin-Teachers.waiting-list .list h2{
    width: fit-content;
    margin: 0 auto 20px;
}

.admin-Teachers.waiting-list .teacher {
    margin: 0 10px 1rem;
    align-items: center;
}


.admin-Teachers .two-lists .info {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  padding: 13px;
}